<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xandone.yblog.mapper.CommentMapper">

    <resultMap id="CommentResultMap" type="com.xandone.yblog.pojo.CommentBean">
        <result column="comment_id" property="commentId" jdbcType="VARCHAR"/>
        <result column="art_id" property="artId" jdbcType="VARCHAR"/>
        <result column="comment_user_id" property="commentUserId" jdbcType="VARCHAR"/>
        <result column="comment_details" property="commentDetails" jdbcType="VARCHAR"/>
        <result column="nickname" property="nickname" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="visitor_url" property="visitorUrl" jdbcType="VARCHAR"/>
        <result column="comment_user_ver" property="commentUserVer" jdbcType="VARCHAR"/>
        <result column="comment_date" property="commentDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <insert id="addComment" parameterType="com.xandone.yblog.pojo.CommentBean">
        insert into
        y_art_comment(
        comment_id,
        art_id,
        comment_user_id,
        comment_details,
        nickname,
        email,
        visitor_url,
        comment_user_ver,
        ip,
        comment_date)
        values(
        #{commentId},
        #{artId},
        #{commentUserId},
        #{commentDetails},
        #{nickname},
        #{email},
        #{visitorUrl},
        #{commentUserVer},
        #{ip},
        #{commentDate})
    </insert>

    <select id="getAllArtCommentById" resultMap="CommentResultMap">
        select * from
        y_art_comment where art_id = #{artId} order by id asc
    </select>

    <select id="getAllCommentCount" resultType="java.lang.Integer">
        select count(*) from y_art_comment
    </select>
</mapper>